@model ModelLayer.MainViewModel.CreateViewReleasedBudgetVM
 @{
     ViewBag.Title = "Released Budget";
     List<ModelLayer.MainViewModel.GetAllReleasedBudgetVM> _LstAllReleasedBudget = (List<ModelLayer.MainViewModel.GetAllReleasedBudgetVM>)ViewBag.LstAllReleasedBudget;
  }

<div class="col-xl-12">
    @using (Html.BeginForm("ReleasedBudgetCreateView", "Finance", FormMethod.Post, new { @class = "form-horizontal" }))
    {
       <!-- START card-->
       <div class="card card-default">
                <div class="card-header">
                    <div class="card-title">Add Released Budget</div>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-4">
                                <label for="sel1">Select Project </label>
                                @Html.DropDownListFor(m => m.Project_ID, new SelectList(Model.comboProjects, "ProjectID", "ProjectName"), "Please Select Project", new { @class = "select2 form-control ", @placeholder = "Select Project Type" })
                                @Html.ValidationMessageFor(m => m.Project_ID, "", new { @class = "parsley-required" })
                            </div>
                            <div class="col-lg-4">
                                <label for="sel1">Select Sub Project</label>
                                <select class="form-control" id="sel1">
                                    <option>Sub project 1</option>
                                    <option>Sub project 2</option>
                                    <option>Sub project 2</option>
                                </select>
                            </div>
                            <div class="col-lg-4">
                                <label for="sel1">Select Cycle/Batch</label>
                                <select class="form-control" id="sel1">
                                    <option>Peshawar</option>
                                    <option>Bannu</option>
                                    <option>Mardan</option>
                                </select>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-lg-4">
                                <label class="col-form-label">Released Budget *</label>
                                @Html.TextBoxFor(model => model.ReleasedBudget, new { @class = "form-control", @type = "number", @placeholder = "Released Budget in KPR" })
                                @Html.ValidationMessageFor(m => m.ReleasedBudget, "", new { @class = "parsley-required" })
                            </div>
                            <div class="col-lg-4">
                                <label class="col-form-label">Released Date *</label>
                                @Html.TextBoxFor(model => model.ReleasedDate, new { @class = "form-control", @type = "date", @id = "ReleasedDate", @placeholder = "dd/mm/yyyy" })
                                @Html.ValidationMessageFor(m => m.ReleasedDate, "", new { @class = "parsley-required" })

                            </div>
                            <div class="col-lg-4">
                                <label class="col-form-label">Remarks </label>
                                @Html.TextBoxFor(model => model.Remarks, new { @class = "form-control", @placeholder = "Remarks Optional" })
                                @Html.ValidationMessageFor(m => m.Remarks, "", new { @class = "parsley-required" })

                            </div>
                        </div>
                        <br />
                        <div class="required">* Required fields</div>
                        <hr />
                        <div class="float-right">
                            <button class="btn btn-primary" type="submit">Save</button>
                        </div>
                        <br />
                        <br />
                        <div class="card card-default">
                            <div class="row">
                                <div class="col-lg-12 ">
                                    <div class="card">
                                        <div class="card-body">
                                            <table class="table table-striped my-4 w-100 table-responsive table-hover" id="datatable2">
                                                <thead>
                                                    <tr>

                                                        <th>
                                                            ID
                                                        </th>
                                                        <th>
                                                            Project Name
                                                        </th>
                                                        <th>
                                                            SubProject Name
                                                        </th>
                                                        <th>
                                                            Batch Name
                                                        </th>
                                                        <th>
                                                            Released Budget
                                                        </th>
                                                        <th>
                                                            Released Date
                                                        </th>
                                                        <th>
                                                            Remarks
                                                        </th>

                                                        <th>
                                                            Action
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @{
                                                        foreach (var item in _LstAllReleasedBudget)
                                                        {
                                                            <tr>
                                                                @Html.HiddenFor(m => item.ReleasedBudgetID)
                                                                <td>
                                                                    @item.ID
                                                                </td>

                                                                <td>
                                                                    @item.ProjectName
                                                                </td>
                                                                <td>
                                                                    @item.SubProjectName
                                                                </td>
                                                                <td>
                                                                    @item.BatchName
                                                                </td>
                                                                <td>
                                                                    @item.ReleasedBudget
                                                                </td>
                                                                <td>
                                                                    @item.ReleasedDate
                                                                </td>
                                                                <td>
                                                                    @item.Remarks
                                                                </td>
                                                                <td>

                                                                    @Html.ActionLink("Edit", "ReleasedBudgetEdit", new { ReleasedBudgetID = item.ReleasedBudgetID }, new { @class = "mb-1 btn btn-warning" })

                                                                </td>

                                                            </tr>
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
       <!-- END card-->
    }
    </div>

