@model ModelLayer.MainViewModel.CreateIssueVM
@{
    ViewBag.Title = "Add New Issue";
    List<ModelLayer.MainViewModel.GetAllIssue> _LstAllIssues = (List<ModelLayer.MainViewModel.GetAllIssue>)ViewBag.LstAllIssues;
}

<!-- START row-->
<div class="row">
    <div class="col-xl-12">
        @using (Html.BeginForm("IssueCreateView", "Issues", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            <!-- START card-->
            <div class="card card-default">
                <div class="card-header">
                    <div class="card-title">Project Issue Form</div>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-4">
                                <label for="sel1">Select Project </label>
                                @Html.DropDownListFor(m => m.Project_ID, new SelectList(Model.comboProjects, "ProjectID", "ProjectName"), "Please Select Project", new { @class = "select2 form-control ", @placeholder = "Select Project Type" })
                                @Html.ValidationMessageFor(m => m.Project_ID, "", new { @class = "parsley-required" })
                            </div>
                            <div class="col-lg-4">
                                <label for="sel1">Select Sub Project</label>
                                <select class="form-control" id="sel1">
                                    <option>Sub project 1</option>
                                    <option>Sub project 2</option>
                                    <option>Sub project 2</option>
                                </select>
                            </div>
                            <div class="col-lg-4">
                                <label for="sel1">Select Cycle/Batch</label>
                                <select class="form-control" id="sel1">
                                    <option>Peshawar</option>
                                    <option>Bannu</option>
                                    <option>Mardan</option>
                                </select>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <label class="col-form-label">Issue Description *</label>
                                @Html.TextBoxFor(model => model.IssueDescription, new { @class = "form-control", @placeholder = "Enter Issue Details" })
                                @Html.ValidationMessageFor(m => m.IssueDescription, "", new { @class = "parsley-required" })
                                
                            </div>
                            <div class="col-lg-6">
                                <label class="col-form-label">Issue Date *</label>
                                @Html.TextBoxFor(model => model.IssueDate, new { @class = "form-control", @type = "date", @placeholder = "dd/mm/yyyy" })
                                @Html.ValidationMessageFor(m => m.IssueDate, "", new { @class = "parsley-required" })
                            </div>
                        </div>

                        <br />
                        <div class="row">

                            <div class="col-lg-6">
                                <label class="col-form-label">Status/ActionTaken *</label>
                                @Html.TextBoxFor(model => model.ActionTaken, new { @class = "form-control", @placeholder = "Enter Status/ActionTaken" })
                                @Html.ValidationMessageFor(m => m.ActionTaken, "", new { @class = "parsley-required" })
                            </div>
                            <div class="col-lg-6">
                                <label class="col-form-label">Solution/Remarks *</label>
                                @Html.TextBoxFor(model => model.Remarks, new { @class = "form-control", @placeholder = "Enter Solution/Remarks" })
                                @Html.ValidationMessageFor(m => m.Remarks, "", new { @class = "parsley-required" })
                            </div>
                        </div>
                        <br />
                        <div class="required">* Required fields</div>
                        <hr />
                        <div class="float-right">
                            <button class="btn btn-primary" type="submit">Save</button>
                        </div>
                        <br />
                        <br />
                        <div class="card card-default">
                            <div class="row">
                                <div class="col-lg-12 ">
                                    <div class="card">
                                        <div class="card-body">
                                            <table class="table table-striped my-4 w-100  table-hover" id="datatable2">
                                                <thead>
                                                    <tr>

                                                        <th>
                                                            ID
                                                        </th>
                                                        <th>
                                                            Issue Description
                                                        </th>
                                                        <th>
                                                            Issue Date
                                                        </th>
                                                        
                                                        <th>
                                                            Action Taken
                                                        </th>
                                                        <th>
                                                            Solution/Remarks
                                                        </th>
                                                        <th>
                                                            Action
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @{
                                                        foreach (var item in _LstAllIssues)
                                                        {
                                                            <tr>
                                                                @Html.HiddenFor(m => item.IssuesID)
                                                                <td>
                                                                    @item.ID
                                                                </td>
                                                                <td>
                                                                    @item.IssueDescription
                                                                </td>
                                                                <td>
                                                                    @item.IssueDate
                                                                </td>
                                                                <td>
                                                                    @item.ActionTaken
                                                                </td>
                                                                <td>
                                                                    @item.Remarks
                                                                </td>
                                                                
                                                                <td>

                                                                    @Html.ActionLink("Edit", "IssueEdit", new { IssuesID = item.IssuesID }, new { @class = "mb-1 btn btn-warning" })

                                                                </td>

                                                            </tr>
                                                            }
                                                     }
                                                 </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <!-- END card-->
        }
        </div>
</div>

