@model List<ModelLayer.MainViewModel.GetAllUserVM>
@{
    ViewBag.Title = "User List";
}

<div class="card">
    <div class="card-header">
        <div class="card-title">View User</div>
    </div>
    <div class="card-body">
        <div>@Html.ActionLink("Add New User", "UserCreate", null, new { @class = "btn btn-primary" })</div>
        <hr />
        <table class="table table-striped my-4 w-100 table-hover" id="datatable2">
            <thead>
                <tr>

                    <th>
                        ID
                    </th>
                    <th>
                        Role Name
                    </th>
                    <th>
                        Full Name
                    </th>

                    <th>
                        Email
                    </th>
                    <th>
                        Contact No
                    </th>
                    <th>
                        Address
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                       Action
                    </th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var item in Model)
                    {
                                <tr>
                                    @Html.HiddenFor(m => item.UserID)
                                    <td>
                                        @item.ID
                                    </td>
                                    <td>
                                        @item.RoleName
                                    </td>
                                    <td>
                                        @item.FullName
                                    </td>
                                    <td>
                                        @item.Email
                                    </td>
                                    <td>
                                        @item.ContactNo
                                    </td>
                                    <td>
                                        @item.Address
                                    </td>
                                    @*<td>
                                        <img src="~/Content/Template/img/user/user.png" style="width:50px" />
                                    </td>*@
                                    <td>
                                        @item.IsActive
                                    </td>

                                    @*<td>
                                       <div class="float-left">
                                           <label class="switch">
                                               <input id="chk-fixed" type="checkbox" data-toggle-state="layout-fixed">
                                               <span></span>
                                           </label>
                                       </div
                                       </td>>*@
                                    <td>
                                        @Html.ActionLink("Edit", "UserEdit", new { UserID = item.UserID }, new { @class = "mb-1 btn btn-warning" })
                                        @*@Html.ActionLink("Detail", "UserDetail", new { UserID = item.UserID }, new { @class = "mb-1 btn btn-primary" })*@
                                    </td>
                                </tr>
                    }
                }
              
            </tbody>
        </table>
    </div>
</div>
