@model ModelLayer.MainViewModel.CreateProjectKPIsStatusVM

@{
    ViewBag.Title = "ChangeManagement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw==" crossorigin="anonymous" referrerpolicy="no-referrer" />



}

<!-- START row-->
<div class="row">
    <div class="col-xl-12">
        @using (Html.BeginForm("EvaluationCreate", "Evaluation", FormMethod.Post, new { @id = "SubmitFromBtnCreate", @class = "form-horizontal" }))
        {
            <!-- START card-->

            <div class="card card-default">
                <div class="card-header">
                    <div class="card-title">
                        <br />
                        <h3> Evaluation Form </h3>
                    </div>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        @*Basic Project Info*@
                        <div class="card card-default" id="cardDemo1">
                            <div class="card-header">
                                <h4>Visit Informaiton</h4>

                            </div>
                            <div class="card-wrapper collapse show">
                                <div class="card-body">

                                    <div class="row">
                                        <div class="col-lg-4">
                                            <label for="sel1">Select Project </label>
                                            @Html.DropDownListFor(m => m.Project_ID, new SelectList(Model.comboProjects, "ProjectID", "ProjectName"), new { @class = "select2 form-control ", @placeholder = "Select Project Type" })
                                            @Html.ValidationMessageFor(m => m.Project_ID, "", new { @class = "parsley-required", @id = "spanProjectID" })
                                        </div>
                                        <div class="col-lg-4">
                                            <label for="sel1">Select Sub Project</label>
                                            @Html.DropDownListFor(m => m.SubProject_ID, new SelectList(Model.comboSubProjects, "SubProjectID", "SubProjectName"), new { @class = " form-control" })
                                            @Html.ValidationMessageFor(m => m.SubProject_ID, "", new { @class = "parsley-required", @id = "spanSubProjectID" })
                                        </div>
                                        <div class="col-lg-4">
                                            <label for="sel1">Select Cycle/Batch</label>
                                            @Html.DropDownListFor(m => m.Batch_ID, new SelectList(Model.comboBatch, "BatchID", "BatchName"), new { @class = " form-control" })
                                            @Html.ValidationMessageFor(m => m.Batch_ID, "", new { @class = "parsley-required", @id = "spanBatchID" })
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <label for="sel1">Evaluation Type </label>
                                            <select name="pets" id="pet-select" class="select2 form-control">
                                                <option value="">Please Select Evaluation Type</option>
                                                <option value="11">Online</option>
                                                <option value="12">OnField</option>
                                            </select>
                                            @*@Html.DropDownListFor(m => m.Project_ID, new SelectList(Model.comboProjects, "ProjectID", "ProjectName"), new { @class = "select2 form-control ", @placeholder = "Select Project Type" })
                                                @Html.ValidationMessageFor(m => m.Project_ID, "", new { @class = "parsley-required", @id = "spanProjectID" })*@
                                        </div>
                                        <div class="col-lg-4">
                                            <label for="sel1">Visit Status</label>
                                            <select name="pets" id="pet-select" class="select2 form-control">
                                                <option value="">Please Select Visit Status</option>
                                                <option value="11">Mid</option>
                                                <option value="12">Final</option>
                                            </select>
                                            @*@Html.DropDownListFor(m => m.SubProject_ID, new SelectList(Model.comboSubProjects, "SubProjectID", "SubProjectName"), new { @class = " form-control" })
                                                @Html.ValidationMessageFor(m => m.SubProject_ID, "", new { @class = "parsley-required", @id = "spanSubProjectID" })*@
                                        </div>
                                        <div class="col-lg-4">
                                            <label for="sel1">Visit Date</label>
                                            @Html.TextBoxFor(model => model.TimeLine, new { @class = "form-control", @type = "date" })
                                            @Html.ValidationMessageFor(m => m.TimeLine, "", new { @class = "parsley-required", @id = "spanTimeLine" })
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <label class="col-form-label">Agenda </label>
                                            @Html.TextBoxFor(model => model.Remarks, new { @class = "form-control", @placeholder = "Enter Agenda" })
                                            @Html.ValidationMessageFor(m => m.Remarks, "", new { @class = "parsley-required" })
                                        </div>
                                        <div class="col-lg-8">
                                            <label class="col-form-label">Remarks </label>
                                            @Html.TextBoxFor(model => model.Remarks, new { @class = "form-control", @placeholder = "Enter Solution/Remarks" })
                                            @Html.ValidationMessageFor(m => m.Remarks, "", new { @class = "parsley-required" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card card-default" id="cardDemo1">
                        <div class="card-header">
                            <br />
                            <h4>
                                Committee Members
                            </h4>

                        </div>
                        <div class="card-wrapper collapse show">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-10">
                                        <label class="col-form-label">Member Name</label>
                                        <input class="form-control" id="idMember" type="text" name="Member" value="" placeholder="Enter Member Name">
                                        <span name="spanidMember" id="spanMember" class="text-danger"></span>
                                    </div>
                                    <div class="col-lg-2">
                                        <label class="col-form-label text-white">Add Member</label>
                                        <input type="button" id="AddMember" value="Add Member" class="btn btn-primary form-control" />
                                    </div>
                                </div>
                                <br />

                                <br />
                                <br />
                                <table class="table table-striped" id="tblMember">
                                    <thead class="table-info">
                                        <tr>
                                            <th data-column-id="id" data-type="numeric">ID</th>
                                            <th data-column-id="Indicator">Committee Member Name</th>
                                            <th data-column-id="action">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>


                    <div class="card card-default" id="cardDemo1">
                        <div class="card-header">
                            <br />
                            <h4>
                                Feedback
                            </h4>

                        </div>
                        <div class="card-wrapper collapse show">
                            <div class="card-body">
                                <div class="row">
                                    @*<div class="col-lg-8">
                                            <label class="col-form-label">Project KPIs</label>
                                            <input class="form-control" id="idMember" type="text" name="Member" value="" placeholder="Enter Member Name">
                                            <span name="spanidMember" id="spanMember" class="text-danger"></span>
                                        </div>*@
                                    <div class="col-lg-12">
                                        <label class="col-form-label">Project KPIs</label>
                                        <table class="table table-striped" name="tblKPIs" id="tblKPIs">
                                            <thead class="table-info">
                                                <tr>
                                                    <th data-column-id="id" data-type="numeric">ID</th>
                                                    <th data-column-id="ProjectKPIsStatus">Project KPIs Status</th>
                                                    <th data-column-id="ProjectKPIsValue">Project KPIs  Value</th>
                                                    <th data-column-id="Feedback">Feedback</th>
                                                    <th data-column-id="Remarks">Remarks</th>
                                                    <th data-column-id="Action">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tblBodyKPIs">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-lg-12">
                                        <label class="col-form-label">Insight Indicator</label>
                                        <table class="table table-striped" name="tblInsightIndicator" id="tblInsightIndicator">
                                            <thead class="table-info">
                                                <tr>
                                                    <th data-column-id="id" data-type="numeric">ID</th>
                                                    <th data-column-id="Department">Insight Indicator</th>
                                                    <th data-column-id="ContactNo">Insight Indicator Value</th>
                                                    <th data-column-id="ContactNo">Feedback</th>
                                                    <th data-column-id="ContactNo">Remarks</th>
                                                    <th data-column-id="action"></th>
                                                </tr>
                                            </thead>
                                            <tbody id="tblBodyInsightIndicator">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>


                            </div>
                        </div>
                    
                     </div>
                    <br />
                    <div class="card-footer">
                        <div class="clearfix">
                            <div class="float-left">
                                <div class="checkbox c-checkbox">
                                    <label>
                                    </label>
                                </div>
                            </div>
                            <div class="float-right">
                                <button class="btn-lg btn-success" type="submit" id="btnCreate"> Create</button>
                            </div>

                        </div>
                    </div>
                    <!-- END card-->
                </div>

            </div>
        }
    </div>
</div>

<input hidden id="IsEvaluationForm" type="text" value="Evaluation" />
<div id="ProjectComboLink"
     url-Val="@Url.Action("ClickProjectComboBox", "Common")">
</div>






<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
@section Scripts{
    <script src="~/Content/Template/js/CustomCode.js"></script>
}

<script type="text/javascript">
    //NajeebCode
    function AddDropDownList() {
        //Build an array containing Customer records.
        var customers = [
            { CustomerId: 1, Name: "John Hammond", Country: "United States" },
            { CustomerId: 2, Name: "Mudassar Khan", Country: "India" },
            { CustomerId: 3, Name: "Suzanne Mathews", Country: "France" },
            { CustomerId: 4, Name: "Robert Schidner", Country: "Russia" }
        ];
        //Create a DropDownList element.
        var ddlCustomers = $("<select />");

        //Add the Options to the DropDownList.
        $(customers).each(function () {
            var option = $("<option />");

            //Set Customer Name in Text part.
            option.html(this.Name);

            //Set Customer CustomerId in Value part.
            option.val(this.CustomerId);

            //Add the Option element to DropDownList.
            ddlCustomers.append(option);
        });

        //Reference the container Table.
        var tblContainer = $("#tblContainer");

        //Add the Table row.
        var row = tblContainer[0].insertRow(-1);

        //Add the DropDownList to Table Row.
        var cell = row.insertCell(-1);
        $(cell).append(ddlCustomers);


        var txtCurrentValue = $("<input type = 'Text' value = '' class='form-control' placeholder='Enter Indicator Value' readonly='readonly' />");
        cell = row.insertCell(-1);
        $(cell).append(txtCurrentValue)

        var txtChangeValue = $("<input type = 'Text' value = '' class='form-control' placeholder='Enter Change Value' />");
        cell = row.insertCell(-1);
        $(cell).append(txtChangeValue)

        var txtDecision = $("<input type = 'Text' value = '' class='form-control' placeholder='Enter Decision ' />");
        cell = row.insertCell(-1);
        $(cell).append(txtDecision)
        var txtActionTakenSatus = $("<input type = 'Text' value = '' class='form-control' placeholder='Enter Action Taken Satus	 Details ' />");
        cell = row.insertCell(-1);
        $(cell).append(txtActionTakenSatus)
        //Create a Remove Button.
        var btnRemove = $("<input type = 'button' value = 'Remove'/>");
        btnRemove.click(function () {
            //Determine the reference of the Row using the Button.
            var row = btnRemove.closest("TR");

            //Delete the Table row.
            row.remove();
        });

        //Add the Remove Buttton to Table Row.
        cell = row.insertCell(-1);
        $(cell).append(btnRemove);

    };
    //Member
    $("#AddMember").click(function () {
        debugger;
        if ($('#idMember').val() == "") {
            $('#spanidMember').text('Member Name should not be blank');
            $('#spanidMember').show();
            $('#idMember').focus();
            return true;
        }
        var trcount = $("#tblMember tr").length;
        $("#tblMember").append("<tr>  <td>" + trcount + "</td>         <td>" + $("#idMember").val() + "</td> <td><a href='javascript:void(0);' class='remCF2'  onClick ='RemoveDemerits(this);'>Remove</a></td>    </tr>");
        $("#tblMember").val('');

    });
    function RemoveDemerits(row) {
        $(row).parent().parent().remove();
    }
</script>




