@model ModelLayer.StoreProcModel.Dashboardv1
@{
    ViewBag.Title = "Admin";
}

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

<style>
    .highcharts-figure,
    .highcharts-data-table table {
        min-width: 320px;
        max-width: 800px;
        margin: 1em auto;
    }

    .highcharts-data-table table {
        font-family: Verdana, sans-serif;
        border-collapse: collapse;
        border: 1px solid #ebebeb;
        margin: 10px auto;
        text-align: center;
        width: 100%;
        max-width: 500px;
    }

    .highcharts-data-table caption {
        padding: 1em 0;
        font-size: 1.2em;
        color: #555;
    }

    .highcharts-data-table th {
        font-weight: 600;
        padding: 0.5em;
    }

    .highcharts-data-table td,
    .highcharts-data-table th,
    .highcharts-data-table caption {
        padding: 0.5em;
    }

    .highcharts-data-table thead tr,
    .highcharts-data-table tr:nth-child(even) {
        background: #f8f8f8;
    }

    .highcharts-data-table tr:hover {
        background: #f1f7ff;
    }

    input[type="number"] {
        min-width: 50px;
    }
</style>
<div class="row">
    <div class="col-xl-4 col-md-6">
        <!-- START card-->
        <div class="card flex-row align-items-center align-items-stretch border-0">
            <div class="col-4 d-flex align-items-center bg-primary-dark justify-content-center rounded-left">
                <em class="icon-notebook fa-3x"></em>
            </div>
            <div class="col-8 py-3 bg-primary rounded-right">
                <div class="h2 mt-0">@Model.ADPVM.totalProject.TotalOneLiner</div>
                <div class="text-uppercase">One Liner</div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-6">
        <!-- START card-->
        <div class="card flex-row align-items-center align-items-stretch border-0">
            <div class="col-4 d-flex align-items-center bg-yellow-dark justify-content-center rounded-left">
                <em class="icon-target fa-3x"></em>
            </div>
            <div class="col-8 py-3 bg-yellow rounded-right">
                <div class="h2 mt-0">
                    @Model.ADPVM.totalProject.TotalADP

                </div>
                <div class="text-uppercase">ADP Project</div>
            </div>
        </div>
    </div>

    <div class="col-xl-4 col-lg-6 col-md-12">
        <!-- START card-->
        <div class="card flex-row align-items-center align-items-stretch border-0">
            <div class="col-4 d-flex align-items-center bg-green-dark justify-content-center rounded-left">
                <em class="icon-chart fa-3x"></em>
            </div>
            <div class="col-8 py-3 bg-green rounded-right">
                <div class="h2 mt-0">@Model.ADPVM.totalProject.TotalForeign</div>
                <div class="text-uppercase">Foreign Funded</div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-4">
        <div class="card mb-3 border-primary">
            <div class="card-header text-white bg-primary">One Liner Project</div>
            <div class="card-body">
                <div class="row">
                    <div class="card-header">
                        <div class="card-title">Finance </div>
                    </div>
                    <table class="table">
                        <tbody>

                            <tr>
                                <td>
                                    <strong>Approved Budget:</strong>
                                </td>
                                <td>
                                    <strong>@Model.oneLinearVM.oneLinearRow1.TotalApprovedBudget</strong>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="card-body offset-3">
                                        <div class="text-info">Budget Utilization %</div>
                                        <div class="text-center py-4 ">
                                            <div class="easypie-chart easypie-chart-lg" data-easypiechart data-percent="@Model.oneLinearVM.oneLinearRow1.PerReleasedBudget" data-animate="{&quot;duration&quot;: &quot;800&quot;, &quot;enabled&quot;: &quot;true&quot;}" data-bar-color="#23b7e5" data-track-Color="rgba(200,200,200,0.4)"
                                                 data-scale-Color="false" data-line-width="10" data-line-cap="round" data-size="150">
                                                <span>@Model.oneLinearVM.oneLinearRow1.PerReleasedBudget%</span>
                                            </div>
                                        </div>
                                    </div>
                                </td>

                            </tr>

                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card mb-3 border-primary">
            <div class="card-header text-white bg-primary">ADP Project</div>
            <div class="card-body">
                <div class="row">
                    <div class="card-header">
                        <div class="card-title">Finance </div>
                    </div>
                    <table class="table">
                        <tbody>

                            <tr>
                                <td>
                                    <strong>Approved Budget:</strong>
                                </td>
                                <td>
                                    <strong>@Model.ADPVM.ADPRow1.TotalApprovedBudget</strong>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="card-body offset-3">
                                        <div class="text-info">Budget Utilization %</div>
                                        <div class="text-center py-4 ">
                                            <div class="easypie-chart easypie-chart-lg" data-easypiechart data-percent="@Model.oneLinearVM.oneLinearRow1.PerReleasedBudget" data-animate="{&quot;duration&quot;: &quot;800&quot;, &quot;enabled&quot;: &quot;true&quot;}" data-bar-color="#23b7e5" data-track-Color="rgba(200,200,200,0.4)"
                                                 data-scale-Color="false" data-line-width="10" data-line-cap="round" data-size="150">
                                                <span>@Model.ADPVM.ADPRow1.PerReleasedBudget%</span>
                                            </div>
                                        </div>
                                    </div>
                                </td>

                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card mb-3 border-primary">
            <div class="card-header text-white bg-primary">Foreign Funded Project</div>
            <div class="card-body">
                <div class="row">
                    <div class="card-header">
                        <div class="card-title">Finance </div>
                    </div>
                    <table class="table">
                        <tbody>

                            <tr>
                                <td>
                                    <strong>Approved Budget:</strong>
                                </td>
                                <td>
                                    <strong>@Model.forigenFundedVM.forigenFundedRow1.PerReleasedBudget</strong>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="card-body offset-3">
                                        <div class="text-info">Budget Utilization %</div>
                                        <div class="text-center py-4 ">
                                            <div class="easypie-chart easypie-chart-lg" data-easypiechart data-percent="@Model.forigenFundedVM.forigenFundedRow1.PerReleasedBudget" data-animate="{&quot;duration&quot;: &quot;800&quot;, &quot;enabled&quot;: &quot;true&quot;}" data-bar-color="#23b7e5" data-track-Color="rgba(200,200,200,0.4)"
                                                 data-scale-Color="false" data-line-width="10" data-line-cap="round" data-size="150">
                                                <span>@Model.forigenFundedVM.forigenFundedRow1.PerReleasedBudget%</span>
                                            </div>
                                        </div>
                                    </div>
                                </td>

                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-4">
        <div class="card mb-3 border-primary">
            <div class="card-header text-white bg-gray">Digital Policy</div>
            <div class="card-body">
                <div class="row">
                    <table class="table w-100">
                        <tbody>

                            <tr>
                                <td>
                                    <strong>Digital Access:</strong>
                                </td>
                                <td>
                                    @Model.oneLinearVM.oneLinearRow2.DigitalAccess
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Digital Governance:</strong>
                                </td>
                                <td>
                                    @Model.oneLinearVM.oneLinearRow2.DigitalGovernance
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Digital Economy:</strong>
                                </td>
                                <td>
                                    @Model.oneLinearVM.oneLinearRow2.DigitalEconomy
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Digital Skills:</strong>
                                </td>
                                <td>
                                    @Model.oneLinearVM.oneLinearRow2.DigitalSkills
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <figure class="highcharts-figure">
                        <div id="container"></div>
                    </figure>

                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card mb-3 border-primary">
            <div class="card-header text-white bg-gray">ADP Project</div>
            <div class="card-body">
                <div class="row">
                    <table class="table w-100">
                        <tbody>

                            <tr>
                                <td>
                                    <strong>Digital Access:</strong>
                                </td>
                                <td>
                                    @Model.ADPVM.ADPRow2.DigitalAccess
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Digital Governance:</strong>
                                </td>
                                <td>
                                    @Model.ADPVM.ADPRow2.DigitalGovernance
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Digital Economy:</strong>
                                </td>
                                <td>
                                    @Model.ADPVM.ADPRow2.DigitalEconomy
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Digital Skills:</strong>
                                </td>
                                <td>
                                    @Model.ADPVM.ADPRow2.DigitalSkills
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <figure class="highcharts-figure">
                        <div id="container1"></div>

                    </figure>

                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card mb-3 border-primary">
            <div class="card-header text-white bg-gray">Foreign Funded Project</div>
            <div class="card-body">
                <div class="row">
                    <table class="table w-100">
                        <tbody>

                            <tr>
                                <td>
                                    <strong>Digital Access:</strong>
                                </td>
                                <td>
                                    @Model.forigenFundedVM.forigenFundedRow2.DigitalAccess
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Digital Governance:</strong>
                                </td>
                                <td>
                                    @Model.forigenFundedVM.forigenFundedRow2.DigitalGovernance
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Digital Economy:</strong>
                                </td>
                                <td>
                                    @Model.forigenFundedVM.forigenFundedRow2.DigitalEconomy
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Digital Skills:</strong>
                                </td>
                                <td>
                                    @Model.forigenFundedVM.forigenFundedRow2.DigitalSkills
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <figure class="highcharts-figure">
                        <div id="container2"></div>
                    </figure>

                </div>
            </div>
        </div>
    </div>
</div>


<!--SDGS-->
<div class="row">
    <div class="col-xl-4">
        <div class="card card-default" id="cardChart5">

            <figure class="highcharts-figure">
                <div id="container3"></div>
            </figure>
        </div>
    </div>
    <div class="col-xl-4">
        <div class="card card-default" id="cardChart5">

            <figure class="highcharts-figure">
                <div id="container4"></div>
            </figure>
        </div>
    </div>
    <div class="col-xl-4">
        <div class="card card-default" id="cardChart5">

            <figure class="highcharts-figure">
                <div id="container5"></div>
            </figure>
        </div>
    </div>


</div>
<div class="row">
    <div class="col-xl-4">
        <div class="card card-default">
            <div class="card-header">
                @*<div class="px-2 float-right badge badge-danger">5</div>*@
                <div class="px-2 mr-2 float-right badge badge-success">@Model.oneLinearVM.oneLinearRow4Project.Count</div>
                <div class="card-title">Project List</div>
            </div>
            <!-- START list group-->
            <div class="list-group" data-height="280" data-scrollable="">
                <!-- START list group item-->
                @{
                    if (Model.oneLinearVM.oneLinearRow4Project != null)
                    {
                        foreach (var item in Model.oneLinearVM.oneLinearRow4Project)
                        {
                            <div class="list-group-item list-group-item-action">
                                <div class="media">

                                    <div class="media-body text-truncate">
                                        <p class="mb-1">
                                         <strong class="text-primary">
                                             <span class="circle bg-success circle-lg text-left"></span>
                                             <a  href="/Project/ProjectDetails?ProjectID=@Utility.Encryption.EncryptURL(Convert.ToString(item.ProjectID))">@item.ProjectName</a>

                                             @*@Html.ActionLink(item.ProjectName, "ProjectDetails", "Project", "", new { ProjectID = Utility.Encryption.EncryptURL(Convert.ToString(item.ProjectID)) })*@
                                         </strong>
                                        </p>
                                        @if (Model.oneLinearVM.oneLinearRow4SubProject != null)
                                        {
                                            foreach (var itemSub in Model.oneLinearVM.oneLinearRow4SubProject.Where(x=>x.ProjectID == item.ProjectID))
                                            {
                                                if (itemSub.ProjectID == item.ProjectID)
                                                {
                                                    <p class="mb-1 text-sm">
                                                        <a href="/Project/SubProjectDetails?SubProjectID=@Utility.Encryption.EncryptURL(Convert.ToString(itemSub.SubProjectID))">@itemSub.SubProjectName</a>
                                                    </p>
                                                }
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    }
                }
                <!-- END list group item-->
              
            </div>
            <!-- END list group-->

        </div>
    </div>
    <div class="col-xl-4">
        <div class="card card-default">
            <div class="card-header"> 
                <div class="px-2 mr-2 float-right badge badge-success">@Model.ADPVM.ADPRow4Project.Count</div>
                <div class="card-title">Project List</div>
            </div>
            <!-- START list group item-->
            @{
                if (Model.ADPVM.ADPRow4Project != null)
                {
                    foreach (var item in Model.ADPVM.ADPRow4Project)
                    {
                        <div class="list-group-item list-group-item-action">
                            <div class="media">
                                            <div class="media-body text-truncate">
                                                <p class="mb-1">
                                                    <strong class="text-primary">
                                                        <span class="circle bg-success circle-lg text-left"></span>

                                                        <a href="/Project/ProjectDetails?ProjectID=@Utility.Encryption.EncryptURL(Convert.ToString(item.ProjectID))">@item.ProjectName</a>

                                                    </strong>
                                                </p>
                                                @if (Model.ADPVM.ADPRow4SubProject != null)
                                                {
                                                    foreach (var itemSub in Model.ADPVM.ADPRow4SubProject.Where(x => x.ProjectID == item.ProjectID))
                                                    {
                                                        if (itemSub.ProjectID == item.ProjectID)
                                                        {
                                                            <p class="mb-1 text-sm">
                                                                <a href="/Project/SubProjectDetails?SubProjectID=@Utility.Encryption.EncryptURL(Convert.ToString(itemSub.SubProjectID))">@itemSub.SubProjectName</a>
                                                            </p>
                                                        }
                                                    }
                                                }
                                            </div>
                            </div>
                        </div>
                    }
                }
            }
            <!-- END list group item-->

        </div>
    </div>
    <div class="col-xl-4">
        <div class="card card-default">
            <div class="card-header"> 
                <div class="px-2 mr-2 float-right badge badge-success">@Model.forigenFundedVM.forigenFundedRow4Project.Count</div>
                <div class="card-title">Project List</div>
            </div>
            <!-- START list group item-->
            @{
                if (Model.forigenFundedVM.forigenFundedRow4Project != null)
                {
                    foreach (var item in Model.forigenFundedVM.forigenFundedRow4Project)
                    {
                        <div class="list-group-item list-group-item-action">
                            <div class="media">
                                <div class="media-body text-truncate">
                                    <p class="mb-1">
                                        <strong class="text-primary">
                                            <span class="circle bg-success circle-lg text-left"></span>
                                            <a href="/Project/ProjectDetails?ProjectID=@Utility.Encryption.EncryptURL(Convert.ToString(item.ProjectID))">@item.ProjectName</a>
                                        </strong>
                                    </p>
                                    @if (Model.forigenFundedVM.forigenFundedRow4SubProject != null)
                                    {
                                        foreach (var itemSub in Model.forigenFundedVM.forigenFundedRow4SubProject.Where(x => x.ProjectID == item.ProjectID))
                                        {
                                            if (itemSub.ProjectID == item.ProjectID)
                                            {
                                            <p class="mb-1 text-sm">
                                                <a href="/Project/SubProjectDetails?SubProjectID=@Utility.Encryption.EncryptURL(Convert.ToString(itemSub.SubProjectID))">@itemSub.SubProjectName</a>
                                            </p>
                                            }
                                        }
                                     }
                                 </div>
                            </div>
                        </div>
                    }
                }
            }
            <!-- END list group item-->

        </div>
    </div>

</div>
<!-- END row-->
<script>

         //1 Linear CHART
    Highcharts.chart('container', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Chart'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        accessibility: {
            point: {
                valueSuffix: '%'
            }
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                }
            }
        },
        series: [{
            name: 'Digital Policy',
            colorByPoint: true,
            data: [ {
                name: 'Access',
                y: @Model.oneLinearVM.oneLinearRow2.DigitalAccess
            }, {
                name: 'Governance',
                y: @Model.oneLinearVM.oneLinearRow2.DigitalGovernance
            }, {
                name: 'Economy',
                y: @Model.oneLinearVM.oneLinearRow2.DigitalEconomy
            }, {
                name: 'Skills',
                y: @Model.oneLinearVM.oneLinearRow2.DigitalSkills
            }]
        }]
    });


    //ADP CHART
    Highcharts.chart('container1', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Chart'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        accessibility: {
            point: {
                valueSuffix: '%'
            }
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                }
            }
        },
        series: [{
            name: 'Digital Policy',
            colorByPoint: true,
            data: [{
                name: 'Access ',
                y: @Model.ADPVM.ADPRow2.DigitalAccess
            }, {
                name: 'Governance',
                y: @Model.ADPVM.ADPRow2.DigitalGovernance
            }, {
                name: 'Economy',
                y: @Model.ADPVM.ADPRow2.DigitalEconomy
            }, {
                name: 'Skills',
                y: @Model.ADPVM.ADPRow2.DigitalSkills
            }]
        }]
    });



        //FF CHART
    Highcharts.chart('container2', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Chart'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        accessibility: {
            point: {
                valueSuffix: '%'
            }
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                }
            }
        },
        series: [ {
                name: 'Access',
                y: @Model.forigenFundedVM.forigenFundedRow2.DigitalAccess
            }, {
                name: 'Governance',
                y: @Model.forigenFundedVM.forigenFundedRow2.DigitalGovernance
            }, {
                name: 'Economy',
                y: @Model.forigenFundedVM.forigenFundedRow2.DigitalEconomy
            }, {
                name: 'Skills',
                y: @Model.forigenFundedVM.forigenFundedRow2.DigitalSkills
            }]
    });


    Highcharts.chart('container3', {
        chart: {
            type: 'pie'
        },
        title: {
            text: 'SDGS Project'
        },


        accessibility: {
            announceNewData: {
                enabled: true
            },
            point: {
                valueSuffix: '%'
            }
        },

        plotOptions: {
            series: {
                dataLabels: {
                    enabled: true,
                    format: '{point.name}: {point.y:.1f}%'
                }
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>'
        },

        series: [
            {
                name: "1Linear SDGS",
                colorByPoint: true,
                data: [
                    
                    {
                        name: "NOPOVERTY",
                        y: @Model.oneLinearVM.oneLinearRow3.NOPOVERTY
                    },
                    {
                        name: "SDGS2",
                        y: @Model.oneLinearVM.oneLinearRow3.SDGS2
                    }

                ]
            }
        ],

    });
    Highcharts.chart('container4', {
        chart: {
            type: 'pie'
        },
        title: {
            text: 'SDGS Project'
        },


        accessibility: {
            announceNewData: {
                enabled: true
            },
            point: {
                valueSuffix: '%'
            }
        },

        plotOptions: {
            series: {
                dataLabels: {
                    enabled: true,
                    format: '{point.name}: {point.y:.1f}%'
                }
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>'
        },

        series: [
            {
                name: "ADP SDGS",
                colorByPoint: true,
                data: [
                    {
                        name: "NOPOVERTY",
                        y: @Model.ADPVM.ADPRow3.NOPOVERTY
                    },
                    {
                        name: "SDGS2",
                        y: @Model.ADPVM.ADPRow3.SDGS2
                    }
                ]
            }
        ],

    });
    Highcharts.chart('container5', {
        chart: {
            type: 'pie'
        },
        title: {
            text: 'SDGS Project'
        },


        accessibility: {
            announceNewData: {
                enabled: true
            },
            point: {
                valueSuffix: '%'
            }
        },

        plotOptions: {
            series: {
                dataLabels: {
                    enabled: true,
                    format: '{point.name}: {point.y:.1f}%'
                }
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>'
        },

        series: [
            {
                name: "Forigen Funded",
                colorByPoint: true,
                data: [
                      {
                        name: "NOPOVERTY",
                        y: @Model.forigenFundedVM.forigenFundedRow3.NOPOVERTY
                    },
                    {
                        name: "SDGS2",
                        y: @Model.forigenFundedVM.forigenFundedRow3.SDGS2
                    }
                ]
            }
        ],

    });
</script>
