@model ModelLayer.MainViewModel.CreateInsightIndicatorValueVM
@{
    ViewBag.Title = "InsightIndicator Entry";
}
@section Styles{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
}
<!-- START row-->
<div class="row">
    <div class="col-xl-12">
        @using (Html.BeginForm("InsightIndicatorFieldValue", "InsightIndicator", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            <!-- START card-->
            <div class="card card-default">
                <div class="card-header">
                    <div class="card-title">
                        <br />
                        <h4> Add Indicator Value </h4>
                    </div>
                </div>
                <div class="card-body">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-3">
                                <label for="sel1">Select Project *</label>
                                @Html.DropDownListFor(m => m.Project_ID, new SelectList(Model.comboProjects, "ProjectID", "ProjectName"), new { @class = "select2 form-control " })
                                @Html.ValidationMessageFor(m => m.Project_ID, "", new { @class = "parsley-required", @id = "spanCategory_ID" })
                            </div>
                            <div class="col-lg-3">
                                <label for="sel1">Select SubProject *</label>
                                @Html.DropDownListFor(m => m.SubProject_ID, new SelectList(Model.comboSubProjects, "SubProjectID", "SubProjectName"), new { @class = "select2 form-control " })
                                @Html.ValidationMessageFor(m => m.Project_ID, "", new { @class = "parsley-required", @id = "spanCategory_ID" })
                            </div>
                            <div class="col-lg-3">
                                <label for="sel1">Select Batch/Cycle *</label>
                                @Html.DropDownListFor(m => m.Batch_ID, new SelectList(Model.comboBatch, "BatchID", "BatchName"), "Please Select Batch", new { @class = "select2 form-control " })
                                @Html.ValidationMessageFor(m => m.Batch_ID, "", new { @class = "parsley-required", @id = "spanBatchID" })
                            </div>
                            <div class="col-lg-3">
                                <label for="sel1">Select Indicator *</label>
                                @Html.DropDownListFor(m => m.InsightIndicator_ID, new SelectList(Model.comboIndicator, "InsightIndicatorID", "InsightIndicatorName"), "Please Select Indicator", new { @class = "select2 form-control " })
                                @Html.ValidationMessageFor(m => m.InsightIndicator_ID, "", new { @class = "parsley-required", @id = "spanInsightIndicatorID" })
                            </div>
                        </div>

                        <br />
                        @*<div class="float-right"><input type="button" id="AddStackHolder" value="Add Field" class="btn btn-primary" /></div>*@


                        <div class="row">

                            <!--Insert-->
                            <div class="col-lg-6">
                                <strong>New Entries</strong>
                                <table class="table table-striped" name="tblInsightIndicator" id="tblInsightIndicator">
                                    <thead class="table-info">
                                        <tr>
                                            <th data-column-id="id" data-type="numeric">ID</th>
                                            <th data-column-id="Department">Insight Indicator Field Name</th>
                                            <th data-column-id="ContactNo">Insight Indicator Value</th>
                                            <th data-column-id="action"></th>
                                        </tr>
                                    </thead>
                                    <tbody id="tblBodyInsightIndicator">
                                    </tbody>
                                </table>
                            </div>
                            <!--Fetch-->
                            <div class="col-lg-6">
                                <strong>Previous History</strong>
                                <table class="table table-striped" name="tblInsightIndicator2" id="tbInsightlIndicator2">
                                    <thead class="table-info">
                                        <tr>
                                            <th data-column-id="id" data-type="numeric">ID</th>
                                            <th data-column-id="Department">Insight Indicator Field Name</th>
                                            <th data-column-id="ContactNo">Insight Indicator Value</th>
                                            <th data-column-id="action"></th>
                                        </tr>
                                    </thead>
                                    <tbody id="tblBodyInsightIndicator2">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="required">* Required fields</div>
                <br />
                <div class="card-footer">
                    <div class="clearfix">
                        <div class="float-left">
                            <div class="checkbox c-checkbox">
                                <label>
                                </label>
                            </div>
                        </div>
                        <div class="float-right">
                            <button class="btn btn-primary" type="submit"> Create</button>
                        </div>

                    </div>
                </div>
                <!-- END card-->
            </div>
        }
    </div>
</div>
<div id="ProjectComboLink"
     url-Val="@Url.Action("ClickProjectComboBox", "Common")">
</div>
@section Scripts{
    <script src="~/Content/Template/js/CustomCode.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js" type="text/javascript"></script>
    <script src="~/Content/Template/vendor/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.js"></script>
    <script>
       $(document).ready(function ()
        {

        });

        $("#Project_ID").on('change', function () {
            var _Project_ID = $(this).find("option:selected").val();

                $.ajax({
                     type: 'POST',
                     url: '@Url.Action("ClickProjectComboBox", "Common")',
                     dataType: 'json',
                    data: { ProjectID: _Project_ID },  // Same Parameter with Action
                    success: function (BatchLst) {
                        debugger;
                        $("#Batch_ID").empty();
                        $("#InsightIndicator_ID").empty();
                        if (BatchLst.comboBatches.length <= 1 || BatchLst.comboBatches == null) {
                            $("#Batch_ID").prop("disabled", true);
                            $("#Batch_ID").append('<option value="' + 0 + '">' +
                                "Please Select Batch" + '</option>');

                            if (BatchLst.comboIndicators.length <= 1 || BatchLst.comboIndicators == null) {
                                $("#InsightIndicator_ID").prop("disabled", true);
                                $("#InsightIndicator_ID").append('<option value="' + 0 + '">' +
                                    "Please Select Indicator" + '</option>');
                                $("#tblBodyInsightIndicator").empty();
                            } else {
                                $.each(BatchLst.comboIndicators, function (i, Aqib2) {
                                    $("#InsightIndicator_ID").prop("disabled", false);
                                    $("#InsightIndicator_ID").append('<option value="' + Aqib2.InsightIndicatorID + '">' +
                                        Aqib2.InsightIndicatorName + '</option>');
                                });
                            }

                        } else {
                            $("#Batch_ID").prop("disabled", false);
                            $.each(BatchLst.comboBatches, function (i, Aqib) {
                                $("#Batch_ID").append('<option value="' + Aqib.BatchID + '">' +
                                    Aqib.BatchName + '</option>');
                            });

                            if (BatchLst.comboIndicators.length > 1)
                            {
                                $.each(BatchLst.comboIndicators, function (i, Aqib2) {
                                    $("#InsightIndicator_ID").prop("disabled", false);
                                    $("#InsightIndicator_ID").append('<option value="' + Aqib2.InsightIndicatorID + '">' +
                                        Aqib2.InsightIndicatorName + '</option>');
                                });
                            }

                        }
                 },
                 error: function (ex) {
                     console.log('Failed to Retrieve Batch Data:  ' + ex);
                 }
                });//Ajax_End

            $("#tblBodyInsightIndicator").empty();
            $("#tblBodyInsightIndicator2").empty();

        });
        $("#Batch_ID").on('change', function () {

            var obj = {};
            obj.Project_ID = $("#Project_ID").find("option:selected").val();
            obj.Batch_ID = $("#Batch_ID").find("option:selected").val();

            //var Stock = { Project_ID: $("#Project_ID").find("option:selected").val(), Batch_ID: $("#Batch_ID").find("option:selected").val() };
                $.ajax({
                     type: 'POST',
                     url: '@Url.Action("ClickBatchComboBox", "Common")',
                    data: JSON.stringify(obj),
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',

                    success: function (IndicatorLst) {
                        debugger;
                        $("#InsightIndicator_ID").empty();
                        if (IndicatorLst.length <= 1 || IndicatorLst == null) {
                            $("#InsightIndicator_ID").prop("disabled", true);
                            $("#InsightIndicator_ID").append('<option value="' + 0 + '">' +
                                "Please Select Indicator" + '</option>');
                        } else {
                            $("#InsightIndicator_ID").prop("disabled", false);
                            $.each(IndicatorLst, function (i, Aqib) {
                                $("#InsightIndicator_ID").append('<option value="' + Aqib.InsightIndicatorID + '">' +
                                    Aqib.InsightIndicatorName + '</option>');
                            });
                        }
                 },
                    error: function (ex) {
                        console.log('Failed to Retrieve Indicator Data:  ' + ex.responseText);
                 }
                });//Ajax_End
            });
        $("#InsightIndicator_ID").on('change', function () {

            var obj1 = {};
            obj1.Project_ID = $("#Project_ID").find("option:selected").val();
            obj1.InsightIndicatorID = $(this).find("option:selected").val();
            debugger;
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ClickIndicatorComboBox", "Common")',
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                data: JSON.stringify(obj1),  // Same Parameter with Action
                success: function (IndicatorTypeLst) {
                    $("#tblBodyInsightIndicator").empty();
                    $("#tblBodyInsightIndicator2").empty();
                    debugger;

                    var counter = 0;
                    var loop = 0;
                    $.each(IndicatorTypeLst.dataTypeVMLst, function (index, v) {
                        /// do stuff

                        debugger;
                        var InsightIndicatorFieldID = '<td style="display:none";><input  name="dataTypeVMLst[' + loop + '].InsightIndicatorFieldID" value="' + v.InsightIndicatorFieldID + '" type="text"  /></td>';
                        var HiddenValue = '';
                        var ResultString = '';

                        ResultString = '<td>';
                        HiddenValue = '<td>';

                        if (v.InsightIndicatorDataType_ID == 1) {
                            ResultString += '<input  class="form-control"    name="dataTypeVMLst['+loop+'].TEXT"     type="text"  placeholder="Enter Indicator Text" required />'
                            HiddenValue += '<input class="form-control"   name="dataTypeVMLst[' + loop + '].IndicatorDataType_ID" value="' + v.InsightIndicatorDataType_ID + '" type="text"   style="display:none;" />'
                        } else if (v.InsightIndicatorDataType_ID == 2) {
                            ResultString += '<input class="form-control"    name="dataTypeVMLst['+loop+'].INTEGER" type="number"  placeholder="Enter Indicator Value" required />'
                            HiddenValue += '<input class="form-control"   name="dataTypeVMLst[' + loop + '].IndicatorDataType_ID" value="' + v.InsightIndicatorDataType_ID + '" type="text"   style="display:none;" />'
                        } else if (v.InsightIndicatorDataType_ID == 3) {
                            ResultString += '<input class="form-control"  name="dataTypeVMLst['+loop+'].FLOAT" type="number" placeholder="Enter Indicator Percentage %"  required />'
                            HiddenValue += '<input class="form-control"  name="dataTypeVMLst[' + loop + '].IndicatorDataType_ID"  value="' + v.InsightIndicatorDataType_ID + '" type="text"   style="display:none;" />'
                        } else if (v.InsightIndicatorDataType_ID == 4) {
                            ResultString += '<select class="form-control" name="dataTypeVMLst['+loop+'].BOOL" required >'
                            ResultString += '<option value="">Select Yes/No</option>'
                            ResultString += '<option value="true">Yes</option>'
                            ResultString += '<option value="false">No</option>'
                            ResultString += '</select>'
                            HiddenValue += '<input class="form-control"  name="dataTypeVMLst[' + loop + '].IndicatorDataType_ID"  value="' + v.InsightIndicatorDataType_ID + '" type="text"   style="display:none;" />'
                        }

                        ResultString += '</td>';
                        HiddenValue += '</td>';

                        $('<tr id="tblIndicatorRow'+loop+'">' +
                            '<td>'+loop+'</td>' +
                            InsightIndicatorFieldID +
                            '<td>' + v.InsightIndicatorFieldName + '</td>' +
                            ResultString +
                            HiddenValue +
                            '</tr>').appendTo('#tblInsightIndicator');
                        counter++;
                        loop++;
                    });

                    var counter2 = 1;
                    $.each(IndicatorTypeLst.dataTypeCommonVMLst, function (index, v)
                    {

                        $('<tr><td>' + counter2 + '</td><td>' + v.InsightIndicatorFieldName + '</td><td>' + v.CommonValue + '</td><tr>').appendTo('#tblIndicator2');
                        counter2++;
                    });


                },
                    error: function (ex) {
                        debugger;
                        console.log('Failed to Retrieve IndicatorDataTypeCommonValue List Data:  ' + ex.responseText);
                 }
                });//Ajax_End
            });



        function RemoveDemerits(row) {
            $(row).parent().parent().remove();
        }


    </script>
}

