@model ModelLayer.MainViewModel.GetProjectDetailsVM
<!-- Page content-->
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<style>
    .highcharts-figure,
    .highcharts-data-table table {
        min-width: 320px;
        max-width: 800px;
        margin: 1em auto;
    }

    .highcharts-data-table table {
        font-family: Verdana, sans-serif;
        border-collapse: collapse;
        border: 1px solid #ebebeb;
        margin: 10px auto;
        text-align: center;
        width: 100%;
        max-width: 500px;
    }

    .highcharts-data-table caption {
        padding: 1em 0;
        font-size: 1.2em;
        color: #555;
    }

    .highcharts-data-table th {
        font-weight: 600;
        padding: 0.5em;
    }

    .highcharts-data-table td,
    .highcharts-data-table th,
    .highcharts-data-table caption {
        padding: 0.5em;
    }

    .highcharts-data-table thead tr,
    .highcharts-data-table tr:nth-child(even) {
        background: #f8f8f8;
    }

    .highcharts-data-table tr:hover {
        background: #f1f7ff;
    }

    input[type="number"] {
        min-width: 50px;
    }
</style>


<div class="content-heading">
    <div>
        Project Details
    </div>
</div>
<div class="col-xl-12">
    <!-- Main card-->
    <div class="card b">
        <div class="card-header">
            <div class="float-right mt-2">
                Project Type:
                <div class="badge badge-info">@Model.getProjectDetailsQ1.ProjectType</div>
            </div>
            <h4 class="my-2">
                <span>
                    @{
                        if (Model.getProjectDetailsQ6Lst.Count > 0)
                        {
                            @Model.getProjectDetailsQ6Lst[0].ProjectName
                        }
                    }
                </span>
            </h4>
        </div>
        <div class="card-body bb bt">
            <!-- START card-->
            <div class="card">
                <div class="card-body text-center">
                    <div class="row">
                        <div class="col-2">
                            <h3 class="m-0">
                                @{ Model.getProjectDetailsQ1.stackholder = Model.getProjectDetailsQ1 != null ? Model.getProjectDetailsQ1.stackholder : 0;}
                                @Model.getProjectDetailsQ1.stackholder
                            </h3>
                            <p class="m-0 bg-warning">Stakeholder</p>
                        </div>
                        <div class="col-2">
                            <h3 class="m-0">
                                @{ Model.getProjectDetailsQ1.ActiveIssues = Model.getProjectDetailsQ1 != null ? Model.getProjectDetailsQ1.ActiveIssues : 0;}
                                @Model.getProjectDetailsQ1.ActiveIssues
                            </h3>
                            <p class="m-0 bg-warning">Active Issues</p>
                        </div>
                        <div class="col-2">
                            <h3 class="m-0">
                                @{ Model.getProjectDetailsQ1.ActiveRisks = Model.getProjectDetailsQ1 != null ? Model.getProjectDetailsQ1.ActiveRisks : 0;}
                                @Model.getProjectDetailsQ1.ActiveRisks
                            </h3>
                            <p class="m-0 bg-warning">Active Risks</p>
                        </div>
                        <div class="col-2">
                            <h3 class="m-0">
                                @{ Model.getProjectDetailsQ1.PlannedHR = Model.getProjectDetailsQ1 != null ? Model.getProjectDetailsQ1.PlannedHR : 0;}
                                @Model.getProjectDetailsQ1.PlannedHR
                            </h3>
                            <p class="m-0 bg-warning">Planned HR</p>
                        </div>
                        <div class="col-2">
                            <h3 class="m-0">
                                @{ Model.getProjectDetailsQ1.RecruitedHR = Model.getProjectDetailsQ1 != null ? Model.getProjectDetailsQ1.RecruitedHR : 0;}
                                @Model.getProjectDetailsQ1.RecruitedHR
                            </h3>
                            <p class="m-0 bg-warning">Recruited HR</p>
                        </div>
                        <div class="col-2">
                            <h3 class="m-0">
                                @{ Model.getProjectDetailsQ1.Funding_Source = Model.getProjectDetailsQ1 != null ? Model.getProjectDetailsQ1.Funding_Source : 0;}
                                @Model.getProjectDetailsQ1.Funding_Source
                            </h3>
                            <p class="m-0 bg-warning">Founding Source</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END card-->
        </div>

        <div class="row">
            <div class="col-xl-6">
                <div class="card b">
                    <div class="card-header">
                        <h4 class="m-0">Project KPIs</h4>
                    </div>

                    <table class="table">
                        <thead>
                            <tr>
                                <td class="col-md-8">
                                    <strong>KPIs Name</strong>
                                </td>
                                <td class="col-md-8">
                                    <strong>Target</strong>
                                </td>
                                <td class="col-md-8">
                                    <strong>Achieved</strong>
                                </td>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td>
                                    Trainee
                                </td>

                                <td>
                                    400
                                </td>
                                <td>
                                    300
                                </td>
                            </tr>


                        </tbody>
                    </table>
                    <hr />
                    <figure class="highcharts-figure w-100">
                        <div id="container"></div>
                    </figure>
                </div>

            </div>
            <div class="col-xl-6">
                <div class="card b">
                    <div class="card-header">
                        <h4 class="m-0">Impact Indicator</h4>
                    </div>

                    <table class="table">
                        <thead>
                            <tr>
                                <td class="col-md-8">
                                    <strong>Impact Indicator Name</strong>
                                </td>
                                <td class="col-md-8">
                                    <strong>Achieved Value</strong>
                                </td>

                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td>
                                    Total Start upt
                                </td>

                                <td>
                                    20
                                </td>

                            </tr>


                        </tbody>
                    </table>
                    <hr />
                    <figure class="highcharts-figure w-100">
                        <div id="ImpactIndicator"></div>
                    </figure>
                </div>

            </div>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-xl-6">
                    <div class="card b">
                        <div class="card-header">
                            <h4 class="m-0">Financial Details</h4>
                        </div>

                        <table class="table">
                            <tbody>
                                <tr>
                                    <td class="col-md-8">
                                        <strong>Planned Budget</strong>
                                    </td>
                                    <td>
                                        @{ Model.getProjectDetailsQ2.FormatedResult = Model.getProjectDetailsQ2 != null ? Model.getProjectDetailsQ2.FormatedResult : "";}
                                        @Model.getProjectDetailsQ2.FormatedResult
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-8">
                                        <strong>Allocated Budget</strong>
                                    </td>
                                    <td>
                                        @{ Model.getProjectDetailsQ3.AllocatedBudget = Model.getProjectDetailsQ3 != null ? Model.getProjectDetailsQ3.AllocatedBudget : 0;}
                                        @Model.getProjectDetailsQ3.AllocatedBudget
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-8">
                                        <strong>Expenditure Budget</strong>
                                    </td>
                                    <td>
                                        @{ Model.getProjectDetailsQ3.ExpenditureBudget = Model.getProjectDetailsQ3 != null ? Model.getProjectDetailsQ3.ExpenditureBudget : 0;}
                                        @Model.getProjectDetailsQ3.ExpenditureBudget
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-8">
                                        <strong>Remaining Budget</strong>
                                    </td>
                                    <td>
                                        @{ Model.getProjectDetailsQ3.RemainingBudget = Model.getProjectDetailsQ3 != null ? Model.getProjectDetailsQ3.RemainingBudget : 0;}
                                        @Model.getProjectDetailsQ3.RemainingBudget
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                        <figure class="highcharts-figure w-100">
                            <div id="finance"></div>
                        </figure>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="card b">
                        <div class="card-header">
                            <h4 class="m-0">Project Schedule</h4>
                        </div>

                        <table class="table">
                            <tbody>
                                <tr>
                                    <td class="col-md-7">
                                        <strong>Planned Start Date</strong>
                                    </td>
                                    <td>
                                        @{ Model.getProjectDetailsQ4.PlannedDate = Model.getProjectDetailsQ4 != null ? Model.getProjectDetailsQ4.PlannedDate : Model.getProjectDetailsQ4.PlannedDate;}
                                        @Model.getProjectDetailsQ4.PlannedDate.ToShortDateString()
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-7">
                                        <strong>Actual Start Date</strong>
                                    </td>
                                    <td>
                                        @{ Model.getProjectDetailsQ4.ActualDate = Model.getProjectDetailsQ4 != null ? Model.getProjectDetailsQ4.ActualDate : Model.getProjectDetailsQ4.ActualDate;}
                                        @Model.getProjectDetailsQ4.ActualDate
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-7">
                                        <strong>End Date</strong>
                                    </td>
                                    <td>
                                        @{ Model.getProjectDetailsQ4.EndDate = Model.getProjectDetailsQ4 != null ? Model.getProjectDetailsQ4.EndDate : Model.getProjectDetailsQ4.EndDate;}
                                        @Model.getProjectDetailsQ4.EndDate
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                        <br />
                        <br />
                        <figure class="highcharts-figure w-100">
                            <div id="schedule"></div>
                        </figure>
                    </div>

                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-6">
                <!-- START card-->
                <div class="card card-default card-demo" id="cardDemo3">
                    <div class="card-header">
                        Project Objective
                        <a class="float-right" href="#" data-tool="card-dismiss" data-toggle="tooltip" title="Close Card">
                            <em class="fa fa-times"></em>
                        </a>
                        <a class="float-right" href="#" data-tool="card-collapse" data-toggle="tooltip" title="Collapse Card">
                            <em class="fa fa-plus"></em>
                        </a>
                    </div>
                    <!-- .card-wrapper is the element to be collapsed-->
                    <div class="card-wrapper collapse">
                        <div class="card-body">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>
                                            @{ Model.getProjectDetailsQ5.ObjectiveName = Model.getProjectDetailsQ5 != null ? Model.getProjectDetailsQ5.ObjectiveName : "";}
                                            @Model.getProjectDetailsQ5.ObjectiveName
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>

                    </div>
                </div>
                <!-- END card-->
            </div>
            <div class="col-lg-6">
                <!-- START card-->
                <div class="card card-default card-demo" id="cardDemo3">
                    <div class="card-header">
                        Project Issues
                        <a class="float-right" href="#" data-tool="card-dismiss" data-toggle="tooltip" title="Close Card">
                            <em class="fa fa-times"></em>
                        </a>
                        <a class="float-right" href="#" data-tool="card-collapse" data-toggle="tooltip" title="Collapse Card">
                            <em class="fa fa-plus"></em>
                        </a>
                    </div>
                    <!-- .card-wrapper is the element to be collapsed-->
                    <div class="card-wrapper collapse">
                        <div class="card-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <td>
                                            Description
                                        </td>
                                        <td>
                                            Issue Date
                                        </td>
                                        <td>
                                            Action Tkaen
                                        </td>
                                        <td>
                                            Remarks
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>

                                    @{
                                        foreach (var item in Model.getProjectDetailsIssuesLst)
                                        {
                                            <tr>
                                                <td>
                                                    @item.IssueDescription
                                                </td>
                                                <td>
                                                    @item.IssueDate.
                                                </td>
                                                <td>
                                                    @item.ActionTaken
                                                </td>
                                                <td>
                                                    @item.Remarks
                                                </td>
                                            </tr>
                                        }
                                    }

                                </tbody>
                            </table>

                        </div>

                    </div>
                </div>
                <!-- END card-->
            </div>
        </div>


    </div>
</div>


<script>
    Highcharts.chart('container', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Project KPIs'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        accessibility: {
            point: {
                valueSuffix: '%'
            }
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                }
            }
        },
        series: [{
            name: 'Indicator Description',
            colorByPoint: true,
            data: [
                @{
                    foreach (var item in Model.getProjectDetailsProjectKPIsLst)
                    {
                       @Html.Raw($"{{ name: \"{item.IndicatorDescription}\", y: {item.Percentage} }},")
                    }
                } ]
        }]
    });
    Highcharts.chart('ImpactIndicator', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Impact Indicator'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        accessibility: {
            point: {
                valueSuffix: '%'
            }
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                }
            }
        },
        series: [{
            name: 'Impact Indicator',
            colorByPoint: true,
            data: [
                @{
                    foreach (var item in Model.getProjectDetailsQ7Lst)
                    {
                       @Html.Raw($"{{ name: \"{item.InsightIndicatorFieldName}\", y: {item.CommonFiled} }},")
                    }
                }
            ]
        }]
    });


    //Finance
    Highcharts.chart('finance', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Schedule Utalization %'
        },
        subtitle: {
            text: ''
        },
        accessibility: {
            announceNewData: {
                enabled: true
            }
        },
        xAxis: {
            type: 'category'
        },
        yAxis: {
            title: {
                text: 'Total percent market share'
            }

        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y:.1f}%'
                }
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:12px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>'
        },
        series: [
            {
                name: "Finance",
                colorByPoint: true,
                data: [
                    {
                        name: "Planned Budget",
                        y: @Model.getProjectDetailsQ3.PlannedBudget
                        /*drilldown: "Chrome"*/
                    },{
                           name: "Allocated Budgett",
                           y: @Model.getProjectDetailsQ3.AllocatedBudget
                        /*drilldown: "Chrome"*/
                    }, {
                        name: "Expenditure Budgett",
                        y: @Model.getProjectDetailsQ3.ExpenditureBudget
                        /*drilldown: "Chrome"*/
                    }, {
                        name: "Remaining Budgett",
                        y: @Model.getProjectDetailsQ3.RemainingBudget
                        /*drilldown: "Chrome"*/
                    }
                ]
            }
        ],
        drilldown: {
            breadcrumbs: {
                position: {
                    align: 'right'
                }
            },
            series: [
                {
                    name: "Chrome",
                    id: "Chrome",
                    data: [
                        [
                            "v65.0",
                            0.1
                        ],
                        [
                            "v64.0",
                            1.3
                        ],
                        [
                            "v63.0",
                            53.02
                        ],
                        [
                            "v62.0",
                            1.4
                        ],
                        [
                            "v61.0",
                            0.88
                        ],
                        [
                            "v60.0",
                            0.56
                        ],
                        [
                            "v59.0",
                            0.45
                        ],
                        [
                            "v58.0",
                            0.49
                        ],
                        [
                            "v57.0",
                            0.32
                        ],
                        [
                            "v56.0",
                            0.29
                        ],
                        [
                            "v55.0",
                            0.79
                        ],
                        [
                            "v54.0",
                            0.18
                        ],
                        [
                            "v51.0",
                            0.13
                        ],
                        [
                            "v49.0",
                            2.16
                        ],
                        [
                            "v48.0",
                            0.13
                        ],
                        [
                            "v47.0",
                            0.11
                        ],
                        [
                            "v43.0",
                            0.17
                        ],
                        [
                            "v29.0",
                            0.26
                        ]
                    ]
                },
                {
                    name: "Firefox",
                    id: "Firefox",
                    data: [
                        [
                            "v58.0",
                            1.02
                        ],
                        [
                            "v57.0",
                            7.36
                        ],
                        [
                            "v56.0",
                            0.35
                        ],
                        [
                            "v55.0",
                            0.11
                        ],
                        [
                            "v54.0",
                            0.1
                        ],
                        [
                            "v52.0",
                            0.95
                        ],
                        [
                            "v51.0",
                            0.15
                        ],
                        [
                            "v50.0",
                            0.1
                        ],
                        [
                            "v48.0",
                            0.31
                        ],
                        [
                            "v47.0",
                            0.12
                        ]
                    ]
                },
                {
                    name: "Internet Explorer",
                    id: "Internet Explorer",
                    data: [
                        [
                            "v11.0",
                            6.2
                        ],
                        [
                            "v10.0",
                            0.29
                        ],
                        [
                            "v9.0",
                            0.27
                        ],
                        [
                            "v8.0",
                            0.47
                        ]
                    ]
                },
                {
                    name: "Safari",
                    id: "Safari",
                    data: [
                        [
                            "v11.0",
                            3.39
                        ],
                        [
                            "v10.1",
                            0.96
                        ],
                        [
                            "v10.0",
                            0.36
                        ],
                        [
                            "v9.1",
                            0.54
                        ],
                        [
                            "v9.0",
                            0.13
                        ],
                        [
                            "v5.1",
                            0.2
                        ]
                    ]
                },
                {
                    name: "Edge",
                    id: "Edge",
                    data: [
                        [
                            "v16",
                            2.6
                        ],
                        [
                            "v15",
                            0.92
                        ],
                        [
                            "v14",
                            0.4
                        ],
                        [
                            "v13",
                            0.1
                        ]
                    ]
                },
                {
                    name: "Opera",
                    id: "Opera",
                    data: [
                        [
                            "v50.0",
                            0.96
                        ],
                        [
                            "v49.0",
                            0.82
                        ],
                        [
                            "v12.1",
                            0.14
                        ]
                    ]
                }
            ]
        }
    });

    //schedule
        Highcharts.chart('schedule', {
            chart: {
                type: 'spline'
            },
            title: {
                text: 'Snow depth at Vikjafjellet, Norway'
            },
            subtitle: {
                text: 'Irregular time data in Highcharts JS'
            },
            xAxis: {
                type: 'datetime',
                dateTimeLabelFormats: { // don't display the dummy year
                    month: '%e. %b',
                    year: '%b'
                },
                title: {
                    text: 'Date'
                }
            },
            yAxis: {
                title: {
                    text: 'Snow depth (m)'
                },
                min: 0
            },
            tooltip: {
                headerFormat: '<b>{series.name}</b><br>',
                pointFormat: '{point.x:%e. %b}: {point.y:.2f} m'
            },

            plotOptions: {
                series: {
                    marker: {
                        enabled: true
                    }
                }
            },

            colors: ['#6CF', '#39F', '#06C', '#036', '#000'],

            // Define the data points. All series have a dummy year
            // of 1970/71 in order to be compared on the same x axis. Note
            // that in JavaScript, months start at 0 for January, 1 for February etc.
            series: [{
                name: "Planned Date",
                data: [
                    [Date.UTC(@Model.getProjectDetailsQ4.PlannedDate.Year, @Model.getProjectDetailsQ4.PlannedDate.Month, @Model.getProjectDetailsQ4.PlannedDate.Day), @Model.getProjectDetailsQ4.PlannedDate.Day]
                ]
            }, {
                name: "Start Date",
                data: [
                 [Date.UTC(@Model.getProjectDetailsQ4.ActualDate.Year, @Model.getProjectDetailsQ4.ActualDate.Month, @Model.getProjectDetailsQ4.ActualDate.Day), @Model.getProjectDetailsQ4.ActualDate.Day]
                ]
            }, {
                name: "End Date",
                data: [
                  [Date.UTC(@Model.getProjectDetailsQ4.EndDate.Year, @Model.getProjectDetailsQ4.EndDate.Month, @Model.getProjectDetailsQ4.EndDate.Day), @Model.getProjectDetailsQ4.EndDate.Day]
                ]
            }],

            responsive: {
                rules: [{
                    condition: {
                        maxWidth: 500
                    },
                    chartOptions: {
                        plotOptions: {
                            series: {
                                marker: {
                                    radius: 2.5
                                }
                            }
                        }
                    }
                }]
            }
        });








</script>

