@model ModelLayer.MainViewModel.CreateRecruitedHRVM
    @{
        ViewBag.Title = "Add New HR";
        List<ModelLayer.MainViewModel.GetAllRecruitedHRVM> _LstAllRecruitedHR = (List<ModelLayer.MainViewModel.GetAllRecruitedHRVM>)ViewBag.LstAllRecruitedHR;
    }

    <!-- START row-->
    <div class="row">
        <div class="col-xl-12">
            @using (Html.BeginForm("RecruitedHRCreate", "Project", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                <!-- START card-->
                <div class="card card-default">
                    <div class="card-header">
                        <div class="card-title">Add New Recruited-HR</div>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-4">
                                    <label for="sel1">Select Project </label>
                                    @Html.DropDownListFor(m => m.Project_ID, new SelectList(Model.comboProjects, "ProjectID", "ProjectName"), "Please Select Project", new { @class = "select2 form-control ", @placeholder = "Select Project Type" })
                                    @Html.ValidationMessageFor(m => m.Project_ID, "", new { @class = "parsley-required" })
                                </div>
                                <div class="col-lg-4">
                                    <label for="sel1">Select Sub Project</label>
                                    <select class="form-control" id="sel1">
                                        <option>Sub project 1</option>
                                        <option>Sub project 2</option>
                                        <option>Sub project 2</option>
                                    </select>
                                </div>
                                <div class="col-lg-4">
                                    <label for="sel1">Select Cycle/Batch</label>
                                    <select class="form-control" id="sel1">
                                        <option>Peshawar</option>
                                        <option>Bannu</option>
                                        <option>Mardan</option>
                                    </select>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <label class="col-form-label">No of Recruited -HR *</label>
                                    @Html.TextBoxFor(model => model.RecruitedHR, new { @class = "form-control", @type = "number", @placeholder = "Enter No of Recruited -HR" })
                                    @Html.ValidationMessageFor(m => m.RecruitedHR, "", new { @class = "parsley-required" })
                                    
                                </div>
                                <div class="col-lg-4">
                                    <label class="col-form-label">HR Date *</label>
                                    @Html.TextBoxFor(model => model.RecruitedHRDate, new { @class = "form-control", @type = "date", @placeholder = "Enter No of Recruited -HR" })
                                    @Html.ValidationMessageFor(m => m.RecruitedHRDate, "", new { @class = "parsley-required" })
                                    
                                </div>
                                <div class="col-lg-4">
                                    <label class="col-form-label">Remarks *</label>
                                    @Html.TextBoxFor(model => model.Remarks, new { @class = "form-control", @placeholder = "Remarks Optional" })
                                    @Html.ValidationMessageFor(m => m.Remarks, "", new { @class = "parsley-required" })
                             
                                </div>
                            </div>

                            <br />

                            <div class="required">* Required fields</div>
                            <hr />
                            <div class="float-right">
                                <button class="btn btn-primary" type="submit">Save</button>
                            </div>
                            <br />
                            <br />
                            <div class="card card-default">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <table class="table table-striped my-4 w-100 table-responsive table-hover" id="datatable2">
                                                    <thead>
                                                        <tr>

                                                            <th>
                                                                ID
                                                            </th>
                                                            <th>
                                                                Planned-HR
                                                            </th>
                                                            <th>
                                                                Recruited-HR
                                                            </th>
                                                            <th>
                                                                Recruited %
                                                            </th>
                                                            <th class="col-lg-4">
                                                                Remarks
                                                            </th>
                                                            <th>
                                                                Action
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @{
                                                            foreach (var item in _LstAllRecruitedHR)
                                                            {
                                                                <tr>
                                                                    @Html.HiddenFor(m => item.RecruitedHRID)
                                                                     <td>
                                                                         @item.ID
                                                                     </td>
                                                                    <td>
                                                                        @item.PlannedHR
                                                                    </td>
                                                                    <td>
                                                                        @item.RecruitedHR
                                                                    </td>
                                                                  
                                                                    <td>
                                                                        @item.RecruitedHRPercent
                                                                    </td>
                                                                    <td>
                                                                        @item.Remarks
                                                                    </td>
                                                                    <td>
                                                                        @Html.ActionLink("Edit", "RecruitedHREdit", new { RecruitedHRID = item.RecruitedHRID }, new { @class = "mb-1 btn btn-warning" })
                                                                    </td>
                                                                </tr>
                                                            }
                                                        }
     
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <!-- END card-->

            }
        </div>
    </div>


